/* line 1, ../scss/stijl.scss */
body {
  background-color: black;
}
/* line 3, ../scss/stijl.scss */
body p {
  color: white;
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  font-size: 40px;
}
/* line 10, ../scss/stijl.scss */
body #construction {
  display: table-cell;
  width: 20.25%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
/* line 17, ../scss/stijl.scss */
body #construction img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
